.App {
  background: rgb(91,33,162);
  background: linear-gradient(332deg, rgba(91,33,162,1) 0%, rgba(61,19,112,1) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
